<section>
  <div class="chatroomHolder">
    <h1>{{ chatroomsShow.chatroom.title }}</h1>
    <div class="addOrSeeUsers">
      <button id="showOrHideButton" ng-if="true" ng-click="chatroomsShow.show = !chatroomsShow.show">+</button>
      <div class="midBox" ng-show="chatroomsShow.show">
        <div class="chatroomUserList">
          <h1>Users in chat</h1>
          <ul>
            <li ng-repeat="user in chatroomsShow.all" ng-if="chatroomsShow.showOnInChatList(user)">
              <div class="profileBox">
                <a ui-sref="usersShow({ id: user.id })">
                  <img src="{{ user.image }}" alt="Image of {{ user.username }}">
                  <h4>{{ user.username }}</h4>
                </a>
              <button ng-click="chatroomsShow.revokePrivilege(user)">-</button>
            </li>
          </ul>
        </div>

        <div class="userList">
          <h1>Other Users</h1>
          <div class="flexNotIn">
            <ul>
              <li ng-repeat="user in chatroomsShow.all | filter: chatroomsShow.filter" ng-if="chatroomsShow.showOnAllList(user)">
                <div class="profileBox">
                  <a ui-sref="usersShow({ id: user.id })">
                    <img src="{{ user.image }}" alt="Image of {{ user.username }}">
                    <h4>{{ user.username }}</h4>
                  </a>
                  <button ng-click="chatroomsShow.allowUser(user)">+</button>
                </div>
              </li>
            </ul>
          </div>
          <input type="text" ng-model="chatroomsShow.filter.username" placeholder="Search">
        </div>
      </div>
    </div>

    <div class="messages">
      <ul class="messagesNew" ng-controller="MessageController as message">
        <li ng-repeat="datum in message.myData" ng-class="{ self: message.isOwnMessage(datum)}">
          <div class="wholeLine">
            <div class="singleMessageBox">
              <!-- <h6>{{ datum.created_at }}</h6> -->
              {{ datum.body }}
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="sendBar" ng-controller="MessageController as message">
      <input ng-model="inputText" placeholder="Type a message" maxlength="25">
      <button ng-click="message.sendToMyChannel(inputText)">Send</button>
    </div>

    <div class="status" ng-controller="StatusController as status">
      <h4>
        <span ng-show="status.status.connected">✓ Connected</span>
        <span ng-show="status.status.disconnected">✘ Disconnected</span>
        <span ng-show="status.status.connecting">✘ Connecting......</span>
      </h4>
    </div>
  </div>
</section>
