<section>
  <div class="login">
    <div class="topBar">
      <a href="register">Sign up</a>
    </div>
    <h1>Log in to Talkr</h1>
    <form novalidate ng-submit="login.submit()">
      <div>
        <label>Email</label>
        <input type="email" ng-model="login.credentials.email">
      </div>
      <div>
        <label>Password</label>
        <input type="password" ng-model="login.credentials.password">
      </div>
      <hr>
      <button>Login</button>
    </form>
  </div>
</section>
