<section>
  <div class="chatroomsIndex">
    <h1>Public chat rooms</h1>
    <div class="chatListFlex">
      <ul>
        <li ng-repeat="chatroom in chatroomsIndex.all">
          <div ng-if="!chatroom.private">
            <div ng-if="chatroomsIndex.hasAccess(chatroom)">
              <h3>{{ chatroom.title }}</h3>
              <button ui-sref="chatroomsShow({ id: chatroom.id })">Enter</button>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <h1>Your private chat rooms</h1>
    <div class="chatListFlex">
      <ul>
        <li ng-repeat="chatroom in chatroomsIndex.all">
          <div ng-if="chatroom.private">
            <div ng-if="chatroomsIndex.hasAccess(chatroom)">
              <h3>{{ chatroom.title }}</h3>
              <button ui-sref="chatroomsShow({ id: chatroom.id })">Enter</button>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <button id="newChatBtn" ui-sref="chatroomsNew">New chat room</button>
  </div>
</section>
