<section>
  <div class="usersIndex">
    <h1>See who's talkn.</h1>
    <label for="search">Search</label>
    <input type="text" ng-model="usersIndex.filter.username" name="search">
    <div class="userListFlex">
      <ul>
        <li ng-repeat="user in usersIndex.all | filter: usersIndex.filter" ng-if="!usersIndex.isSelf(user)">
          <div class="profileBox">
            <a ui-sref="usersShow({ id: user.id })">
              <img src="{{ user.image }}" alt="Image of {{ user.username }}">
              <h4>{{ user.username }}</h4>
            </a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
