@import "reset";

$main-color: #3CC47C;

body {
  font-family: 'Ubuntu', sans-serif;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

//BURGER
.burger {
  display: inline-block;
  border: 0;
  background: none;
  outline: 0;
  padding: 0;
  cursor: pointer;
  border-bottom: 4px solid #1E392A;
  width: 28px;
  transition: border-bottom 1s ease-in-out;
  -webkit-transition: border-bottom 1s ease-in-out;
}
.burger::-moz-focus-inner {
  border: 0;
  padding: 0;
}
.burger:before {
  content: "";
  display: block;
  border-bottom: 4px solid #1E392A;
  width: 100%;
  margin-bottom: 5px;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
}

.burger:after {
  content: "";
  display: block;
  border-bottom: 4px solid #1E392A;
  width: 100%;
  margin-bottom: 5px;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
}

.burger-check {
  display: none;
}

.burger-check:checked ~ .burger {
  border-bottom: 4px solid transparent;
  transition: border-bottom 0.8s ease-in-out;
  -webkit-transition: border-bottom 0.8s ease-in-out;
}
.burger-check:checked ~ .burger:before {
  transform: rotate(-405deg) translateY(1px) translateX(-3px);
  -webkit-transform: rotate(-405deg) translateY(1px) translateX(-3px);
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
}
.burger-check:checked ~ .burger:after {
  transform: rotate(405deg) translateY(-4px) translateX(-5px);
  -webkit-transform: rotate(405deg) translateY(-4px) translateX(-5px);
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
}

.navigation {
  position: absolute;
  z-index: 10;
  overflow: hidden;
  width: 100%;
  margin-top: 10px;
  margin-left: -10px;
  max-height: 0;
  -webkit-transition: max-height 0.5s ease-in-out;
  transition: max-height 0.5s ease-in-out;
}

.burger-check:checked ~ .navigation {
  max-height: 500px;
  -webkit-transition: max-height 0.5s ease-in-out;
  transition: max-height 0.5s ease-in-out;
}

.navBox {
  background-color: $main-color;
  padding: 14px 10px 10px 10px;
  position: relative;
  nav {
    text-align: center;
    li {
      padding: 12px 0;
      a {
        text-decoration: none;
      }
    }
    li:nth-child(2n+1) {
      background-color: lighten($main-color, 38%);
      a {
        color: black;
      }
    }
    li:nth-child(2n) {
      background-color: lighten($main-color, 33%);
      a {
        color: white;
      }
    }
  }
  #navbarPic {
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    border: 1px solid #fff;
    object-fit: cover;
    position: absolute;
    right: 4vw;
    top: 27px;
    z-index: 11;
  }
}

//CHATROOM
.chatroomHolder {
  width: 94vw;
  margin: 0 auto;
  height: calc(100vh - 48px);
  position: relative;
  h1 {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    padding-top: 10px;
    margin-bottom: 15px;
  }
  .addOrSeeUsers {
    h1 {
      font-size: 18px;
      clear: both;
    }
    .midBox {
      position: absolute;
      z-index: 1;
      top: 51px;
      left: 1px;
      width: 93vw;
      border-radius: 8px;
      height: calc(100vh - 170px);
      background-color: lighten($main-color, 45%);
    }
    #showOrHideButton {
      position: absolute;
      right: 3vw;
      top: 8vh;
      border: 1px darken($main-color, 5%) solid;
      border-radius: 50%;
      padding: 4px 7px;
      z-index: 2;
      background-color: lighten($main-color, 30%);
      color: white;
    }
    .flexNotIn {
      display: flex;
      overflow-y: scroll;
      height: 20vh;
      width: 100%;
      padding-top: 2vh;
      min-height: 30vw;
    }
    .chatroomUserList {
      display: flex;
      overflow-y: scroll;
      height: 20vh;
      width: 100%;
      padding-top: 2vh;
    }
    li {
      float: left;
      .profileBox {
        margin-bottom: 0.75vh;
        margin-left: 3vw;
        position: relative;
        a {
          text-decoration: none;
          margin-left: 3px;
          h4 {
            text-align: center;
            color: darken($main-color, 20%);
            font-size: 2vh;
          }
          img {
            border-radius: 50%;
            border: 2px solid darken($main-color, 10%);
            width: calc(26vw - 2px);
            height: calc(26vw - 2px);
            object-fit: cover;
          }
        }
        button {
          position: absolute;
          border-radius: 50%;
          border: none;
          padding: 4px 7px;
          z-index: 2;
          background-color: lighten($main-color, 30%);
          color: white;
          bottom: 12px;
        }
      }
    }
    label {
      color: lightgrey;
      font-size: 12px;
    }
    input {
      width: 92%;
      font-size: 18px;
      border: none;
      border-bottom: 1px solid grey;
      outline: none;
      background-color: lighten($main-color, 45%);
      color: $main-color;
      -webkit-text-fill-color: black;
      line-height: 25px;
      margin: 10px 0 0 4%;
      z-index: 4;
      &:focus {
        border-bottom: 1px solid $main-color;
      }
    }

  }
  .messages {
    background-color: lighten($main-color, 45%);
    border: 1px solid lighten($main-color, 30%);
    border-radius: 8px;
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    bottom: 0;
    margin-top: 15px;
    overflow-y: scroll;
    margin-bottom: 15px;
    height: calc(100vh - 170px);
    li {
      .wholeLine {
        width: 94vw;
        padding: 2px;
        display: block;
        .singleMessageBox {
          color: white;
          background-color: darken($main-color, 5%);
          margin-bottom: 1vh;
          margin-left: 1vw;
          border-radius: 6px;
          padding: 7px 10px;
          max-width: 70vw;
          clear: both;
          float: left;
          font-size: 20px;
          line-height: 24px;

          h6 {
            font-size: 8px;
            line-height: 8px;
            font-style: italic;
            color: black;
          }
        }
      }
      &.self {
        color: white;
        .singleMessageBox {
          background-color: lighten($main-color, 10%);
          margin-bottom: 1vh;
          margin-right: 3vw;
          clear: both;
          float: right;
          border-radius: 6px;
          padding: 7px 10px;
          max-width: 70vw;
          h6 {
            font-size: 8px;
            line-height: 8px;
            font-style: italic;
            color: #477556;
          }
        }
      }
    }
  }
  .sendBar {
    input {
      margin-bottom: 4px;
      border: 1px solid $main-color;
      border-radius: 5px;
      resize: none;
      padding: 5px 1vw;
      outline: none;
      position: absolute;
      font-size: 14px;
      width: 71vw;
      left: 1vw;
      bottom: 14px;
    }
    button {
      background-color: $main-color;
      color: white;
      border: none;
      border-radius: 4px;
      padding: 8px 16px;
      position: absolute;
      right: 1vw;
      bottom: 18px;
    }
  }
  .status {
    position: absolute;
    bottom: 0.5vh;
    right: 3vw;
    font-size: 8px;
  }
}

//CHATTROOMS INDEX
.chatroomsIndex {
  height: calc(100vh - 48px);
  font-size: 3vh;
  background-color: lighten($main-color, 45%);
  h1 {
    padding-top: 4vh;
    font-size: 4vh;
    margin: 0 0 3vh 3vw;
  }
  #newChatBtn {
    background-color: lighten($main-color, 15%);
    border: none;
    border-radius: 6px;
    padding: 6px 2px;
    width: 140px;
    margin: 2vh auto;
    display: block;
    color: white;
    font-size: 2vh;
  }
  .chatListFlex {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: 28vh;
    margin: 0 4vw;
    padding: 3vw;
    background-color: white;
    border-radius: 4px;
    ul {
      li {
        line-height: 8vh;
        div {
          position: relative;
          h3 {
            display: inline-block;
            margin-left: 10px;
          }
          button {
            display: inline-block;
            position: absolute;
            right: 20px;
            top: 14px;
            background: none;
            border: 1px solid lighten($main-color, 35%);
            border-radius: 50px;
            padding: 4px 6px;
          }
        }
      }
      li:nth-child(2n+1) {
        background-color: lighten($main-color, 35%);
        div button {
          border: 1px solid lighten($main-color, 45%);
        }
      }
    }
  }
}

//LANDING
.landing {
  height: 100vh;
  color: white;
  background-color: $main-color;
  div {
    width: 69%;
    margin: 0 auto;
    padding-top: 50%;
    h1 {
      font-size: 40px;
      line-height: 53px;
    }
    h3 {
      font-size: 18px;
      margin-top: 18px;
    }
    button {
      border: none;
      border-radius: 4px;
      font-size: 16px;
      display: block;
      text-align: center;
      width: 140px;
      margin: 12px auto;
      padding: 8px 0px;
    }
    .signupLanding {
      margin-top: 70px;
      background-color: white;
      color: $main-color;
    }
    .loginLanding {
      background-color: $main-color;
      border: 1px solid white;
      color: white;
    }
  }
}

//LOGIN
.login {
  height: 100vh;
  .topBar {
    text-align: right;
    padding-top: 20px;
    margin-bottom: 40px;
    a {
      color: $main-color;
      text-decoration: none;
      margin-right: 30px;
    }
  }
  h1 {
    font-size: 35px;
    margin: 10px 0 50px 3vw;
  }
  form {
    div {
      width: 94vw;
      margin: 0 auto;
      input {
        width: 100%;
        font-size: 20px;
        border: none;
        border-bottom: 1px solid grey;
        outline: none;
        color: $main-color;
        -webkit-text-fill-color: black;
        line-height: 35px;
        margin-bottom: 20px;
        &:focus {
          border-bottom: 1px solid $main-color;
        }
      }
      label {
        color: lightgrey;
        font-size: 12px;
      }
    }
    hr {
      position: absolute;
      bottom: 36px;
      width: 100%;
    }
    button {
      position: absolute;
      bottom: 8px;
      right: 12px;
      border: none;
      background-color: $main-color;
      color: white;
      font-size: 14px;
      padding: 6px 14px;
      border-radius: 3px;
    }
  }
}

//REGISTER
.register {
  .topBar {
    text-align: right;
    padding-top: 20px;
    margin-bottom: 40px;
    a {
      color: $main-color;
      text-decoration: none;
      margin-right: 30px;
    }
  }
  h3 {
    font-size: 24px;
    margin: 10px 0 20px 3vw;
    color: #1E392A;
  }
  form {
    div {
      width: 94vw;
      margin: 0 auto;
      input {
        width: 100%;
        font-size: 4vh;
        border: none;
        border-bottom: 1px solid grey;
        outline: none;
        color: $main-color;
        -webkit-text-fill-color: black;
        line-height: 5vh;
        margin-bottom: 4vh;
        &:focus {
          border-bottom: 1px solid $main-color;
        }
      }
      label {
        color: lightgrey;
        font-size: 2vh;
      }
    }
  }
  hr {
    position: absolute;
    bottom: 36px;
    width: 100%;
  }
  button {
    position: absolute;
    bottom: 8px;
    right: 12px;
    border: none;
    background-color: $main-color;
    color: white;
    font-size: 14px;
    padding: 6px 14px;
    border-radius: 3px;
  }
}

//USERS SHOW
.usersShow {
  height: calc(100vh - 50px);
  text-align: center;
  .imageBox {
    margin: 0 auto;
    padding-top: 22%;
    width: 242px;
    img {
      border-radius: 50%;
      // border: 1px $main-color solid;
      width: 240px;
      height: 240px;
      object-fit: cover;
    }
  }
  h2 {
    font-size: 40px;
    line-height: 60px;
  }
  button {
    position: absolute;
    bottom: 8px;
    border: none;
    color: white;
    font-size: 14px;
    padding: 6px 14px;
    border-radius: 3px;
  }
  .edit {
    left: 12px;
    background-color: $main-color;
  }
  .delete {
    right: 12px;
    background-color: #ff6666;
  }
}

//USERS EDIT
.usersEdit {
  height: calc(100vh - 50px);
  text-align: center;
  .imageBox {
    margin: 0 auto;
    padding-top: 22%;
    width: 242px;
    img {
      border-radius: 50%;
      // border: 1px $main-color solid;
      width: 240px;
      height: 240px;
      object-fit: cover;
    }
  }
  h2 {
    font-size: 40px;
    line-height: 60px;
  }
  button {
    border: none;
    color: white;
    font-size: 14px;
    padding: 6px 14px;
    border-radius: 3px;
    position: absolute;
    background-color: $main-color;
    bottom: 10%;
    left: 40%;
  }
  form {
    width: 94vw;
    margin: 0 auto;
    input {
      width: 100%;
      font-size: 20px;
      border: none;
      border-bottom: 1px solid grey;
      outline: none;
      color: $main-color;
      -webkit-text-fill-color: black;
      line-height: 35px;
      margin-bottom: 20px;
      &:focus {
        border-bottom: 1px solid $main-color;
      }
    }
    #imageUrlInput {
      font-size: 15px;
    }
  }
}

//CHATROOMS NEW
.chatroomsNew {
  height: calc(100vh - 50px);
  h2 {
    font-size: 25px;
    margin: 30px 0 0 3vw;
  }
  form {
    padding-top: 30px;
    width: 94vw;
    margin: 0 auto;
    label {
      color: lightgrey;
      font-size: 12px;
    }
    input {
      width: 100%;
      font-size: 20px;
      border: none;
      border-bottom: 1px solid grey;
      outline: none;
      color: $main-color;
      -webkit-text-fill-color: black;
      line-height: 35px;
      margin-bottom: 20px;
      &:focus {
        border-bottom: 1px solid $main-color;
      }
    }
  }
  button {
    border: none;
    color: white;
    font-size: 14px;
    padding: 6px 14px;
    border-radius: 3px;
    float: right;
    background-color: $main-color;
  }
}

//USERS INDEX
.usersIndex {
  width: 94vw;
  margin: 0 auto;
  height: calc(100vh - 50px);
  h1 {
    font-size: 4vh;
    padding-top: 4vh;
    margin: 0 0 2vh 3vw;
  }
  label {
    color: lightgrey;
    font-size: 12px;
  }
  input {
    width: 100%;
    font-size: 20px;
    border: none;
    border-bottom: 1px solid grey;
    outline: none;
    color: $main-color;
    -webkit-text-fill-color: black;
    line-height: 35px;
    margin-bottom: 20px;
    &:focus {
      border-bottom: 1px solid $main-color;
    }
  }
  .userListFlex {
    display: flex;
    overflow-y: scroll;
    height: 60vh;
    ul li {
      width: 29vw;
      margin: 0 1vw;
      float: left;
      .profileBox {
        margin-bottom: 0.75vh;
        a {
          text-decoration: none;
          margin-left: 3px;
          h4 {
            text-align: center;
            color: darken($main-color, 20%);
          }
          img {
            border-radius: 50%;
            // border: 2px solid darken($main-color, 10%);
            width: 26vw;
            height: 26vw;
            object-fit: cover;
          }
        }
      }
    }
  }
}
